env
.idea

*.pyc
*.log
*.txt
!requirements.txt
.env
source_correct/*.pyc
_pycache_/*
download/*
!download/.gitkeep
logs/*
!logs/.gitkeep
personal/*
!personal/.gitkeep
Lib/
Lib/*
Scripts/
Scripts/*
SupplierSheets/*
!SupplierSheets/.gitkeep
fees/*
!fees/.gitkeep
supplier_downloader_new/*.txt
.idea/*
warehouse/document/*
!warehouse/document/.gitkeep
data/*
venv
env
.venv